<% include ../partials/header.ejs %>

<!-- MAIN CONTENT -->
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">

      <% if (title == "Home Page") { %>
      <h3 class="text-center text-primary">Welcome to my <%= title %></h3>
      <h1 class="text-center">Nusrat Jahan</h1>
      <% } %>
<!--

 <% if (title == "My Favourite Books") { %>
      <h1><%= title %></h1></br></br>
      <a class="btn btn-primary" href="/books" role="button">See My Favourite Book List</a>
      <% } %>

-->
     

    </div>
  </div>
</div>

<% include ../partials/footer.ejs %>